{% extends 'base.html.twig' %}

    {% block title %}
        {{ parent() }} | Home
    {% endblock %}

    {% block body %}
        <h1>Bucket-List</h1>

        <p class="element">Liste des choses a faire : </p>


    {% endblock %}