{% extends 'base.html.twig' %}

    {% block title %}
        {{ parent() }} | Home
    {% endblock %}

    {% block body %}
        <h1>Bucket-List</h1>
        <div class="element">
            <h2 class="titreDetailH2">Liste des choses à faire avant de mourrir :</h2><br>

            <p class="textAccueil">Comme le nom de cet article laisse l’envisager, je vais vous présenter ma bucket list
                (donc une liste de choses à faire). La vie est courte, il faut donc en profiter mais parfois,
                il est important de se fixer des objectifs pour donner un peu plus de piquant. J’ai le plaisir
                de vous faire découvrir ma liste des 100 choses à faire avant de mourir, vous pouvez en rajouter si vous le souhaitez.
            </p>

        </div>






    {% endblock %}