{% extends 'base.html.twig' %}

     {% block title %}
         {{ parent() }} | Test
     {% endblock %}

    {% block body %}
        <h1>Page test</h1>

            <p class="test">page de test !</p>




    {% endblock %}

