{% extends 'base.html.twig' %}


    {% block body %}
        <h1>Idees n°1</h1>

        <p class="element">
            Détail d'un élément de la liste
        </p>

    {% endblock %}


    {% block title %}
         {{ parent() }} | Détails idées

    {% endblock %}