{% extends 'base.html.twig' %}


    {% block body %}
        <h1>Wish list</h1>

        <div class="element">
            <h2 class="titreDetailH2">Liste de choses à faire avant de mourrir :</h2><br>

            {% for i in idees %}
                    <li><a class="listWish" href="{{ path('wish_details', {'id': i.id}) }}">{{ i.title }} | {{ i.category.name }}</a></li><br>
            {% endfor %}
        </div>



    {% endblock %}


    {% block title %}
        {{ parent() }} | Wish list

    {% endblock %}